heart-failure-predictor flow.json
[{"id":"7ff920cf.38317","type":"tab","label":"heart-failure-predictor","disabled":false,"info":""},{"id":"feddd802.802fa8","type":"debug","z":"7ff920cf.38317","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":380,"wires":[]},{"id":"5750fca4.4d7a24","type":"function","z":"7ff920cf.38317","name":"pre-token","func":"global.set(\"ag\",msg.payload.ag)\nglobal.set(\"an\",msg.payload.an)\nglobal.set(\"cp\",msg.payload.cp)\nglobal.set(\"db\",msg.payload.db)\nglobal.set(\"ef\",msg.payload.ef)\nglobal.set(\"hbp\",msg.payload.hbp)\nglobal.set(\"pl\",msg.payload.pl)\nglobal.set(\"sc\",msg.payload.sc)\nglobal.set(\"ss\",msg.payload.ss)\nglobal.set(\"sex\",msg.payload.sex)\nglobal.set(\"smk\",msg.payload.smk)\nvar apikey=\"5PmL64ZT1hRt_fkBBw6aPgfzsAh60KUZ1RgfYi7ccZa5\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":260,"wires":[["a44d501b.dbf38"]]},{"id":"a44d501b.dbf38","type":"http request","z":"7ff920cf.38317","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":1032.0000038146973,"y":284.00000286102295,"wires":[["7b26bd10.fba954","7290355c.84dfbc"]]},{"id":"7b26bd10.fba954","type":"debug","z":"7ff920cf.38317","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1220,"y":340,"wires":[]},{"id":"7290355c.84dfbc","type":"function","z":"7ff920cf.38317","name":"Pre Prediction","func":"var ag = global.get(\"ag\")\nvar an = global.get(\"an\")\nvar cp = global.get(\"cp\")\nvar db = global.get(\"db\")\nvar ef = global.get(\"ef\")\nvar hbp = global.get(\"hbp\")\nvar pl = global.get(\"pl\")\nvar sc = global.get(\"sc\")\nvar ss = global.get(\"ss\")\nvar sex = global.get(\"sex\")\nvar smk = global.get(\"smk\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"age\", \"anaemia\", \"creatinine_phosphokinase\", \"diabetes\", \"ejection_fraction\", \"high_blood_pressure\", \"platelets\", \"serum_creatinine\", \"serum_sodium\", \"sex\", \"smoking\"]],\"values\": [[ag,an,cp,db,ef,hbp,pl,sc,ss,sex,smk]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1224.0000076293945,"y":236.0000021457672,"wires":[["6c17f6cb.d6dc88"]]},{"id":"6c17f6cb.d6dc88","type":"http request","z":"7ff920cf.38317","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/ef9cd065-6c7d-4cf8-9fdf-05a019ac8d20/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":1450,"y":260,"wires":[["c2cc8db8.d3b65","1ef62373.2fdc9d"]]},{"id":"c2cc8db8.d3b65","type":"debug","z":"7ff920cf.38317","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1602.9999914169312,"y":344.00000381469727,"wires":[]},{"id":"27f24d13.2ad022","type":"inject","z":"7ff920cf.38317","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":750,"y":140,"wires":[["5750fca4.4d7a24"]]},{"id":"802354ca.bbaa88","type":"debug","z":"7ff920cf.38317","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1433.9999885559082,"y":127.0000057220459,"wires":[]},{"id":"1ef62373.2fdc9d","type":"function","z":"7ff920cf.38317","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1279.6000595092773,"y":168.00000190734863,"wires":[["802354ca.bbaa88","a3ac067b.4ed148"]]},{"id":"a3ac067b.4ed148","type":"ui_text","z":"7ff920cf.38317","group":"d92e5a50.ed9a78","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":1397.6000366210938,"y":401.20001220703125,"wires":[]},{"id":"579b0fd6.2b4da","type":"ui_form","z":"7ff920cf.38317","name":"","label":"In sex column(enter '1' for male & '0' for female)","group":"7bd6343.ccd79cc","order":1,"width":"0","height":"0","options":[{"label":"age","value":"ag","type":"number","required":true,"rows":null},{"label":"creatinine_phosphokinase","value":"cp","type":"number","required":true,"rows":null},{"label":"ejection_fraction","value":"ef","type":"number","required":true,"rows":null},{"label":"platelets","value":"pl","type":"number","required":true,"rows":null},{"label":"serum_creatinine","value":"sc","type":"number","required":true,"rows":null},{"label":"serum_sodium","value":"ss","type":"number","required":true,"rows":null},{"label":"sex","value":"sex","type":"number","required":true,"rows":null},{"label":"high_blood_pressure","value":"hbp","type":"checkbox","required":true,"rows":null},{"label":"anaemia","value":"an","type":"checkbox","required":true,"rows":null},{"label":"diabetes","value":"db","type":"checkbox","required":true,"rows":null},{"label":"smoking","value":"smk","type":"checkbox","required":true,"rows":null}],"formValue":{"ag":"","cp":"","ef":"","pl":"","sc":"","ss":"","sex":"","hbp":false,"an":false,"db":false,"smk":false},"payload":"","submit":"predict","cancel":"reset","topic":"","x":560,"y":300,"wires":[["feddd802.802fa8","5750fca4.4d7a24"]]},{"id":"d92e5a50.ed9a78","type":"ui_group","z":"7ff920cf.38317","name":"Death_event('1' represents 'death')","tab":"f85f424d.9fc8e","order":1,"disp":true,"width":"6","collapse":false},{"id":"7bd6343.ccd79cc","type":"ui_group","z":"","name":"Heart-failure-predictor","tab":"f85f424d.9fc8e","order":1,"disp":true,"width":"6","collapse":false},{"id":"f85f424d.9fc8e","type":"ui_tab","z":"7ff920cf.38317","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]